*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    background-color: rgb(227, 231, 210);
    /* height: 100vh; */
}
.logo{
    display: flex;
    align-items: center;
    color: rgb(34, 172, 34);
    padding: 10px 50px;
}
.logostyle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-whatsapp{
    font-size: 36px !important;
}
.main-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.part{
  
    width: 70%;
    /* background-color: aquamarine; */
}
.part1{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    border: 1px solid black;
    padding: 30px 20px;
    margin: 20px;
}
.text h1{
    margin-bottom: 15px;
 
}
.Dbtn{
    background-color: rgb(41, 201, 41);
    border-radius: 25px;
    border: 1px solid black;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.part2{
    display: flex;
    justify-content: space-between;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 45vh;
    width: 70%;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
}
li{
    list-style: none;
}
.QR{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 45vh;
}
.QR span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
input{
    width: 2.5vw;
    height: 2.5vh;
    background-color: green;
    border-color: green;
}
.line u{
    display: flex;
    flex-direction: column;
    text-decoration-color: rgb(41, 201, 41);
    margin-top: 10px;
}
.iball{
    background-color: rgb(132, 134, 135);
    padding: 1px 6px;
    border-radius: 100px;
    color: white;
    margin-left: 5px;
    font-size: 10px;
    font-family: Arial;
}
.menu{
    width: 3px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}
.ulli{
    display: flex;
    align-items: center;
}
ul{
    margin-top: 10px;
}
.df{
    display: block;
}
.dn{
    display: none;
}
@media (max-width:886px) {
    .part{
        width: 96%;
    }
    .part1{
        flex-direction: column;
    }
    .part1 button{
        margin-top: 10px;
    }
    .Dbtn{
        padding: 15px 20px;
    }
    .QR{
        width: 50%;
    }

    .login{
        width: 96%;
        height: auto;
    }
    .login h1,.login h3 ,.login ul li .login div u{
        margin-top: 15px;
    }
}

@media (max-width:1400px) {
    .QR span{
        display: none;
    }
    .main-part{
        background-color:rgb(227, 231, 210);
    }

}
@media (max-width:512px){
    .dn{
        display: block;
    }
    .df{
        display: none;
    }
}
@media (max-width:759px){

    .QR{
        width: 75%;
    }
}
@media (max-width:400px){

    .QR{
        width: 100%;
    }
}

@media (max-width:278px){

    .QR{
        width: 55%;
    }
} 